/**
 * Experience block editor CSS.
 */

.altis-experience-block-header {
	text-transform: uppercase;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
	background: repeating-linear-gradient(
		315deg,
		rgba(0, 0, 0, .05),
		rgba(0, 0, 0, .05) 10px,
		rgba(0, 0, 0, 0) 10px,
		rgba(0, 0, 0, 0) 20px
	);
	padding: 14px;
	margin: 0 -14px -28px;
	position: relative;
	top: -14px;
	display: flex;
}

.altis-experience-block-header__title {
	flex: 1;
	font-weight: bold;
}

.altis-experience-block-header__toolbar {
	flex: 0;
	border: 0;
	padding: 0;
	margin: 0;
	display: flex;
}

.altis-experience-block-header__toolbar .components-icon-button {
	padding: 3px 5px;
	margin-left: 3px;
}

.altis-variants-toolbar {
	max-width: 460px;
	overflow-x: auto;
}

.altis-variants-toolbar .altis-variant-button {
	width: auto;
	margin: 3px;
	height: 30px;
	line-height: 13px;
	flex: 0 0 5.2em;
}

.altis-variants-toolbar .altis-variant-button.is-active,
.altis-variants-toolbar .altis-variant-button.is-pressed,
.altis-variants-toolbar .altis-variant-button.is-active:hover,
.altis-variants-toolbar .altis-variant-button.is-pressed:hover,
.altis-variants-toolbar .altis-variant-button.is-active:focus,
.altis-variants-toolbar .altis-variant-button.is-pressed:focus {
	outline: none;
	color: #fff;
	box-shadow: none;
	background: #555d66;
}

.altis-variants-toolbar .altis-add-variant-button svg {
	padding: 6px 5px 4px 5px;
}

.audience-picker-control .audience-picker-control__value {
	margin-top: 6px;
	margin-bottom: 4px;
}

.wp-block[data-type="altis/experience-block-variant"] {
	max-width: none;
}

.wp-block[data-type="altis/experience-block-variant"] .wp-block {
	max-width: none;
}
